/* Other rules */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  border: darkblue dashed 3px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  margin-bottom: 20px;
}
span {
  line-height: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}

/* a:hover {
  color: dimgrey;
  box-shadow: 0 0 10px;
} */
/* .my-header {
} */

.header-top-bar {
  margin: auto;
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-searchbar {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  width: 300px;
  padding: 0px 10px;
}

.log-in-btn,
.log-out-btn,
.sign-in-btn {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #00b8b8;
  margin: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: white;
  color: #00b8b8;
}
.header button:hover {
  cursor: pointer;
}
.front-image {
  max-height: 400px;
  width: 100%;
  object-fit: none;
}
.front-articles {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
.article-parent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.article-owner {
  border: royalblue 3px solid;
  display: flex;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  align-items: center;
}

.article-owner-name {
  flex-wrap: wrap;
}

.article-owner-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.articles {
  margin: 10px;
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 450px;
  object-fit: none;
  border: chartreuse solid 3px;
}
.article-image-box {
  border: tomato 5px solid;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.article-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.buy-btn {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: auto;

  line-height: 40px;
  background-color: #00b8b8;
  border-radius: 5px;
  /* border: 2px solid #00b8b8; */
  text-align: center;
  width: 200px;
}
.buy-btn-text {
  color: white;
}

.what {
  margin: auto;
  max-width: 1200px;
  display: flex;
  background-color: aquamarine;
  border: black dashed 4px;
}
.product-price {
  background-color: cadetblue;
}
.details-text {
  background-color: blueviolet;
}
.sub-details {
  background-color: dodgerblue;
}
.product-btn {
  color: yellow;
  background-color: green;
  font-size: 30px;
}

/* log in and sign up */
.formular-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.formular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* border: chartreuse dashed 5px; */
}
.formular-h {
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.form-inputs {
  width: 300px;
  line-height: 50px;
  margin: 10px;
}

.form-checkbox {
  color: red;
}

.submit-btn,
.sell-btn {
  border-radius: 5px;
  border: 2px solid #00b8b8;
  margin: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #00b8b8;
  height: 50px;
  width: 300px;
}
