/* Other rules */
* {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}
span {
  line-height: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
a {
  /* color: black; */
  text-decoration: none;
}
textarea,
input {
  font-size: 18px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.offer-background {
  margin: auto;
  background-color: #f4f4f4cb;
}

.header-top-bar {
  margin: auto;
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-searchbar {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  max-width: 300px;
  padding: 0px 10px;
  border: none;
  outline: none;
  line-height: 40px;
  font-size: 20px;
}
.footer-block {
  border-top: 1px solid rgb(231, 231, 231);
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  margin: auto;
  max-width: 1200px;
  font-size: 18px;
}

.page-num,
.page-btn,
.log-in-btn,
.log-out-btn,
.sign-in-btn {
  border-radius: 5px;
  border: 2px solid #00b8b8;
  margin: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: white;
  color: #00b8b8;
}
.log-in-btn,
.log-out-btn,
.sign-in-btn {
  height: 50px;
  width: 200px;
}
.page-num,
.page-btn {
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}
.header button:hover {
  cursor: pointer;
}
.front-image {
  max-height: 400px;
  width: 100%;
  object-fit: none;
  margin-bottom: 20px;
}
.pagination {
  display: flex;
}

.front-articles {
  display: flex;
  flex-direction: row;
}
.article-parent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.article-owner,
.article-owner-block {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.article-owner-name {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.article-owner-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.articles {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  object-fit: none;
  border-radius: 5px;
}
.articles:hover {
  color: dimgrey;
  box-shadow: 0 0 5px;
}
.article-image-box {
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 300px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.article-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.article-name {
  height: 60px;
  overflow: hidden;
  margin-bottom: 10px;
}
.article-price {
  margin-bottom: 10px;
}

.buy-btn {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  line-height: 40px;
  background-color: #00b8b8;
  border-radius: 5px;
  text-align: center;
  width: 200px;
}
.buy-btn-text {
  color: white;
}

/* block Offer */

.product-blocks {
  margin: auto;
  max-width: 1200px;
  height: 1000px;
  display: flex;
  /* border: black dashed 4px; */
}
.offer-block-left {
  width: 50%;
  /* border: royalblue 5px dashed; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-block-right {
  /* border: tomato dashed 3px; */
  /* height: 60%; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-picture {
  object-fit: cover;
  max-width: 90%;
  max-height: 90%;
}
.product-info {
  background-color: white;
  max-width: 80%;
  height: 900px;
  padding: 15px;
}

.product-info-1 {
  height: 40%;
}
.product-info-2 {
  height: 60%;
}

.product-price {
  height: 40px;
}
.correction {
  color: rgb(150, 150, 150);
  margin: 10px 0px;
}

.sub-details {
  height: 80%;
  line-height: 40px;
}

.sub-details p {
  color: grey;
  margin-bottom: 15px;
}

.product-btn {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: #00b8b8;
  font-size: 30px;
  line-height: 50px;
  border: none;
}

/* log in and sign up */
.formular-div {
  /* background-color: aqua; */
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
}

.formular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.formular-h {
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.form-area,
.publish-lines input,
.form-inputs {
  /* width: 300px; */
  line-height: 50px;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.form-checkbox {
  color: red;
}
.newsletter {
  display: flex;
  flex-direction: row;
}

.submit-btn,
.sell-btn {
  border-radius: 5px;
  border: 2px solid #00b8b8;
  margin: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #00b8b8;
  height: 50px;
  width: 300px;
}

/* Publish Page */

.publish-main {
  background-color: rgb(231, 231, 231);
  margin: auto;
}
.publish-div {
  box-sizing: border-box;
  max-width: 1200px;
  border-top: 1px solid rgb(231, 231, 231);
  margin: auto;
}

.publish-formular {
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  width: 1200px;
}

.publish-block-1 {
  height: 200px;
  display: flex;
}
.form-inputs-pic {
  line-height: 40px;
  width: 300px;
  margin: auto;
  border: 2px solid #00b8b8;
  border-radius: 5px;
  font-size: 20px;
  color: #00b8b8;
}
.text .publish-block-1,
.publish-block-2,
.publish-block-3,
.publish-block-4 {
  background-color: white;
  margin-bottom: 15px;
}
/* .publish-block-3 {
  background-color: cornflowerblue;
}
.publish-block-4 {
  background-color: rgb(163, 163, 0);
} */
.submit-block {
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
}

.publish-lines {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.publish-lines input,
.publish-lines p {
  flex: 1;
  margin: 20px;
}
